

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <p class="text-center">Chào mừng bạn đến với MT-Shirt</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="tenDangNhap" class="form-label">Tên đăng nhập</label>
                  <input type="text" formControlName="tenDangNhap" class="form-control" id="tenDangNhap">
                  <div *ngIf="loginForm.get('tenDangNhap')?.errors?.['required'] && (loginForm.get('tenDangNhap')?.dirty || loginForm.get('tenDangNhap')?.touched)" class="text-danger">
                    Tên đăng nhập là bắt buộc.
                  </div>
                  <div *ngIf="loginForm.get('tenDangNhap')?.errors?.['minlength'] && (loginForm.get('tenDangNhap')?.dirty || loginForm.get('tenDangNhap')?.touched)" class="text-danger">
                    Tên đăng nhập phải có ít nhất 6 ký tự.
                  </div>
                  <div *ngIf="loginForm.get('tenDangNhap')?.errors?.['maxlength'] && (loginForm.get('tenDangNhap')?.dirty || loginForm.get('tenDangNhap')?.touched)" class="text-danger">
                    Tên đăng nhập không được vượt quá 10 ký tự.
                  </div>
                </div>

                <div class="mb-4">
                  <label for="matKhau" class="form-label">Mật khẩu</label>
                  <input type="password" formControlName="matKhau" class="form-control" id="matKhau">
                  <div *ngIf="loginForm.get('matKhau')?.errors?.['required'] && (loginForm.get('matKhau')?.dirty || loginForm.get('matKhau')?.touched)" class="text-danger">
                    Mật khẩu là bắt buộc.
                  </div>
                  <div *ngIf="loginForm.get('matKhau')?.errors?.['minlength'] && (loginForm.get('matKhau')?.dirty || loginForm.get('matKhau')?.touched)" class="text-danger">
                    Mật khẩu phải có ít nhất 8 ký tự.
                  </div>
                  <div *ngIf="loginForm.get('matKhau')?.errors?.['maxlength'] && (loginForm.get('matKhau')?.dirty || loginForm.get('matKhau')?.touched)" class="text-danger">
                    Mật khẩu không được vượt quá 16 ký tự.
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="form-check">
                    <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label text-dark" for="flexCheckChecked">
                      Ghi nhớ đăng nhập
                    </label>
                  </div>
                  <a class="text-primary fw-bold" href="./index.html">Quên mật khẩu ?</a>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng nhập</button>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Bạn chưa có tài khoản ?</p>
                  <a class="text-primary fw-bold ms-2" href="/sign-up">Đăng ký</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



