<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="index.html"><img src="assets/shopping/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/trang-chu">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/list-p">Shop Category</a></li>
                <!--                <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>-->
                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/log-in">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/sign-up">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>

          <ul class="nav-shop">
            <li class="nav-item"><input type="text" class="form-control" placeholder="Tìm kiếm"></li>
            <li class="nav-item">
              <button><i class="ti-search"></i></button>
            </li>
            <li class="nav-item"><a type="button" href="/shopping-cart" style="text-decoration: none"
                                    class="nav-link"><i class="ti-shopping-cart"></i></a></li>
            <!--            <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>-->
          </ul>

          <ul class="nav-shop">
<!--            <li class="nav-item" >-->
<!--              <a class="button button-header" (click)="logout()">Đăng Xuất</a>-->
<!--            </li>-->
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav" >
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown"*ngIf="isLoggedIn()">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                    <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35"
                         class="rounded-circle">
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                       aria-labelledby="drop2">
                    <div class="message-body">
                      <a href="/profile" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">My Account</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-list-check fs-6"></i>
                        <p class="mb-0 fs-3">My Task</p>
                      </a>
                      <a (click)="logout()"
                         class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
