<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="index.html"><h3>MT-Shirt</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/trang-chu" style="font-size: 12px; position: relative;">HÀNG MỚI VỀ
                <span class="new-badge">NEW</span>
              </a>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false" style="font-size: 12px">QUẦN NAM</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Quần jeans</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quần chinos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quần kaki</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quần âu</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quần jogger</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false" style="font-size: 12px">ÁO NAM</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Áo sơ mi</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Áo vest</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Áo Polo</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Áo thun</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Áo hoodie</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false" style="font-size: 12px">BÁN CHẠY</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Áo bán chạy</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quần bán chạy</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 12px; position: relative;">HÀNG MỚI VỀ
                <span class="sale-badge">SALE</span>
              </a>
            </li>
          </ul>

        <div class="d-flex class me-5">
          <span><input type="text" class="form-control" placeholder="Tìm kiếm" *ngIf="showSearch"></span>
            <span class="me-3">
              <span><button class="btn" (click)="toggleSearch()"><i class="ti ti-search" style="font-size: 20px; color: black;"></i></button></span>
            </span>
            <span *ngIf="isLoggedInCart">
              <a href="/shopping-cart" style="text-decoration: none; color: black;" class="btn">
                <i class="ti ti-shopping-cart" style="font-size: 20px"></i>
              </a>
            </span>
        </div>
          
          <div *ngIf="!isLoggedInCart">
              <span>
                <a href="/log-in" class="auth-link">Đăng nhập</a>
              </span>
              /
              <span>
                <a href="/sign-up" class="auth-link">Đăng ký</a>
              </span>
          </div>
          
          <ul *ngIf="isLoggedInCart">
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav" >
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown"*ngIf="isLoggedIn()">
                  <a class="nav-link nav-icon-hover avatar-container " href="javascript:void(0)" id="drop2" 
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                      <img src="assets/shopping/img/Untitled.png" alt="" width="35" height="35" class="rounded-circle">
                      <div class="online-dot"></div> <!-- Thêm chấm xanh -->
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                       aria-labelledby="drop2">
                    <div class="message-body">
                      <a href="/profile" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">My Account</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-list-check fs-6"></i>
                        <p class="mb-0 fs-3">My Task</p>
                      </a>
                      <a (click)="logout()"
                         class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
