<footer class="footer">
  <div class="footer-area">
    <div class="container">
      <div class="row section_gap">
        <div class="col-lg-4 col-md-7 col-sm-7">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">MT-Shirt Shop</h4>
            <p>
              Tìm kiếm và khám phá các mẫu quần áo nam mới nhất,
              đặt hàng và thanh toán chỉ với vài cú click chuột máy tính.
              Điều này giúp bạn tiết kiệm thời gian và công sức mà không
              cần phải đến cửa hàng trực tiếp.
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Quick Links</h4>
            <ul class="list">
              <li><a href="/trang-chu">Home</a></li>
              <li><a href="/list-product">Product</a></li>
            </ul>
          </div>
        </div>

        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Contact Us</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Head Office
              </p>
              <p>FPT Polytechnic</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Phone Number
              </p>
              <p>
                +123 456 7890 <br>
                +123 456 7890
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                <!--                free@infoexample.com <br>-->
                ithuongngoai&#64;gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 footer-text text-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>
          All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
          href="#" target="_blank">MT-Team</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
