<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-admin-header></app-admin-header>
    <div class="container-fluid">
      <div class="row">
        <div class="">
          <div class="card w-100">
            <div class="card-body">
              <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                  <h2 class="card-title fw-semibold">Danh sách sản phẩm chi tiết</h2>
                </div>
                <div>
                  <select class="form-select" (change)="onSelectChange($event)">
                    <option value="5">5 sản phẩm</option>
                    <option value="10">10 sản phẩm</option>
                    <option value="15">15 sản phẩm</option>
                  </select>
                </div>
              </div>
              <div>
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0" scope="col">
                      <h6 class="fw-semibold mb-0">#</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Mã</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Tên</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Thương hiệu</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Chất Liệu</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Danh mục</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Kích thước</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Màu sắc</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Số lượng</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Giá nhập</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Giá bán</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Ngày nhập</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Trạng thái</h6>
                    </th>
                    <th scope="col">
                      <h6 class="fw-semibold mb-0">Thao tác</h6>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="height: 30px;" *ngFor=" let sanPhamChiTiet of listSanPhamChiTiet; let i = index">
                    <th>{{ i + 1 }}</th>
                    <td title="{{ sanPhamChiTiet.ma }}">{{ sanPhamChiTiet.ma }}</td>
                    <td title="{{ sanPhamChiTiet.sanPham.ten }}">{{ sanPhamChiTiet.sanPham.ten }}</td>
                    <td title="{{ sanPhamChiTiet.thuongHieu.ten }}">{{ sanPhamChiTiet.thuongHieu.ten }}</td>
                    <td title="{{ sanPhamChiTiet.chatLieu.ten }}">{{ sanPhamChiTiet.chatLieu.ten }}</td>
                    <td title="{{ sanPhamChiTiet.danhMuc.ten }}">{{ sanPhamChiTiet.danhMuc.ten }}</td>
                    <td title="{{ sanPhamChiTiet.kichThuoc.ten }}">{{ sanPhamChiTiet.kichThuoc.ten }}</td>
                    <td title="{{ sanPhamChiTiet.mauSac.ten }}">{{ sanPhamChiTiet.mauSac.ten }}</td>
                    <td title="{{ sanPhamChiTiet.soLuong }}">{{ sanPhamChiTiet.soLuong }}</td>
                    <td title="{{ sanPhamChiTiet.giaNhap }}">{{ sanPhamChiTiet.giaNhap }}</td>
                    <td title="{{ sanPhamChiTiet.giaBan }}">{{ sanPhamChiTiet.giaBan }}</td>
                    <td
                      title="{{ sanPhamChiTiet.ngayNhap | date: 'dd/MM/yyyy' }}">{{ sanPhamChiTiet.ngayNhap | date: 'dd/MM/yyyy' }}
                    </td>
                    <td title="{{ sanPhamChiTiet.trangThai == 1 ? 'Còn hàng' : 'Hết hàng' }}">
                      {{ sanPhamChiTiet.trangThai == 1 ? "Còn hàng" : "Hết hàng" }}
                    </td>
                    <td>
                      <!-- MỞ form update SPCT -->
                      <button style="color: #7A98FE;font-size: 20px; border: none; background-color: transparent;"
                              (click)="viewFormUpdateProduct(sanPhamChiTiet.id)" data-bs-toggle="modal"
                              data-bs-target="#updateProductModal">
                        <i class="ti ti-edit"></i>
                      </button>
                      <!-- XOA SPCT  -->
                      <button style="color: #7A98FE; font-size: 20px; border: none; background-color: transparent;"
                              (click)="confirmAndUpdate(sanPhamChiTiet.id)">
                        <i class="ti ti-x"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div>
                  <div class="d-flex justify-content-end">
                    <button (click)="onPageChangeSanPhamCT(page - 1)" class="btn btn-secondary" [disabled]="page === 0">
                      <
                    </button>
                    <span style="margin: 5px">Trang {{ page + 1 }}</span>
                    <button (click)="onPageChangeSanPhamCT(page + 1)" class="btn btn-secondary"
                            [disabled]="page === totalPages - 1"> >
                    </button>
                  </div>
                </div>
                <div *ngIf="listSanPhamChiTiet.length === 0">
                  <p>Không có sản phẩm chi tiết nào được tìm thấy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="d-flex d-block align-items-center justify-content-between mb-9">
              <div class="mb-3 mb-sm-0">
                <h5 class="card-title fw-semibold">Sản phẩm</h5>
              </div>
              <!--              <div class="d-flex justify-content-end">-->
              <!--              </div>-->
            </div>
            <div class="container-fluid">
              <div class="text-nowrap mb-0 col-12 mb-3">
                <div class="row">
                  <div class="col-5">
                    <select id="sp" class="form-select" aria-label="Default select example" style="width: 100%"
                            [(ngModel)]="selectedSanPham">
                      <option *ngFor="let sp of listSanPham" [ngValue]="sp">{{ sp?.ten }}</option>
                    </select>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-info" (click)="addChiTietSanPham()">+</button>
                  </div>
                </div>
                <br>
                <h5>Thuộc tính</h5>
                <hr>
                <div class="row mt-5">
                  <div class="col-5 mt-2">
                    <label>Chat lieu</label>
                    <select id="cl" class="form-select" aria-label="Default select example" style="width: 100%"
                            [(ngModel)]="selectedChatLieu">
                      <option *ngFor="let cl of listChatLieu" [ngValue]="cl">{{ cl?.ten }}</option>
                    </select>
                  </div>
                  <div class="col-5 mt-2">
                    <label>Thuong hieu</label>
                    <select id="thuongHieu" class="form-select" aria-label="Default select example"
                            style="width: 100%"
                            [(ngModel)]="selectedThuongHieu">
                      <option *ngFor="let th of listThuongHieu" [ngValue]="th">{{ th?.ten }}</option>
                    </select>
                  </div>
                  <div class="col-5 mt-2">
                    <label>Danh muc</label>
                    <select id="dm" class="form-select" aria-label="Default select example" style="width: 100%"
                            [(ngModel)]="selectedDanhMuc">
                      <option *ngFor="let dm of listDanhMuc" [ngValue]="dm">{{ dm?.ten }}</option>
                    </select>
                  </div>
                  <div class="col-5 mt-2">
                    <label for="sizes">Kích cỡ</label>
                    <select #sizeSelect id="sizes" class="form-select" aria-label="Default select example"
                            style="width: 100%">
                      <option *ngFor="let size of availableSizes" [value]="size">{{ size }}</option>
                    </select>
                    <div id="selectedSizes">
                      <h3>Kích cỡ đã chọn:</h3>
                      <ul id="sizeList">
                        <li *ngFor="let size of selectedSizes">
                          {{ size }}
                          <!--                          <button class="btn btn-sm btn-danger ms-2" (click)="removeSize(size)">Xoá</button>-->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-5 mt-2">
                    <label for="colors">Màu sắc</label>
                    <select #colorsSelect id="colors" class="form-select" aria-label="Default select example"
                            style="width: 100%">
                      <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
                    </select>
                    <div id="selectedColors">
                      <h3>Màu sắc đã chọn:</h3>
                      <ul id="colorList">
                        <li *ngFor="let color of selectedColors">
                          {{ color }}
                          <button class="btn btn-sm btn-danger ms-2" (click)="removeColor(color)">Xoá</button>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <ng-container
                      *ngIf="selectedSizes && selectedSizes.length > 0 && selectedColors && selectedColors.length >0">
                      <ng-container *ngFor="let ms of selectedColors">
                        <p class="col-12 align-middle">Sản phẩm có màu {{ ms }}</p>
                        <hr class="mt-5">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Mã</th>
                            <th>Sản phẩm</th>
                            <th>Thương hiệu</th>
                            <th>Chất liệu</th>
                            <th>Danh mục</th>
                            <th>Kích thước</th>
                            <th>Màu sắc</th>
                            <th>Số lượng</th>
                            <th>Giá nhập</th>
                            <th>Giá bán</th>
                          </tr>
                          </thead>
                          <tbody>
                          <ng-container *ngFor="let ctsp of listChiTietSP">
                            <tr *ngIf="ctsp.mauSac.ten === ms ">
                              <td>{{ ctsp.ma }}</td>
                              <td>{{ ctsp.sanPham.ten }}</td>
                              <td>{{ ctsp.thuongHieu.ten }}</td>
                              <td>{{ ctsp.chatLieu.ten }}</td>
                              <td>{{ ctsp.danhMuc.ten }}</td>
                              <td>{{ ctsp.kichThuoc.ten }}</td>
                              <td>{{ ctsp.mauSac.ten }}</td>
                              <td><input class="form-control" type="number" [(ngModel)]="ctsp.soLuong"></td>
                              <td><input class="form-control" type="number" [(ngModel)]="ctsp.giaNhap"></td>
                              <td><input class="form-control" type="number" [(ngModel)]="ctsp.giaBan"></td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </ng-container>
                      <button class="btn btn-info" (click)="saveListCt(listChiTietSP)">Luu spct</button>
                    </ng-container>
                  </div>

                </div>


                <div>
                  <div class="d-flex justify-content-end">
                    <!--                  <button (click)="onPageChangeSanPhamCT(page - 1)" class="btn btn-secondary"-->
                    <!--                          [disabled]="page === 0">-->
                    <!--                    < </button>-->
                    <!--                  <span style="margin: 5px">Trang {{ page + 1 }}</span>-->
                    <!--                  <button (click)="onPageChangeSanPhamCT(page + 1)" class="btn btn-secondary"-->
                    <!--                          [disabled]="page === totalPages - 1"> >-->
                    <!--                  </button>-->
                  </div>
                </div>
              </div>
            </div>
            <!--          <div *ngIf="chiTietSanPham.length === 0">-->
            <!--            <p>Không có danh mục nào được tìm thấy.</p>-->
            <!--          </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
