
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-7 d-flex align-items-strech">
          <div class="card w-100">
            <div class="card-body">
              <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                  <h5 class="card-title fw-semibold">Danh sách tài khoản</h5>
                </div>
              </div>
              <div *ngIf="accounts.length > 0">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4">
                    <tr>
                      <th class="border-bottom-0" scope="col">
                        <h6 class="fw-semibold mb-0">#</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Tên đăng nhập</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Chức vụ</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Trạng thái</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Chi Tiết</h6>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let account of accounts; let i = index">
                      <th scope="row">{{currentPage * pageSize + i + 1 }}</th>
                      <td>
                        <div class="d-flex align-items-center">
                          <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                            style="width: 45px; height: 45px" class="rounded-circle" />
                          <div class="ms-3">
                            {{account.tenDangNhap }}
                          </div>
                        </div>
                      </td>
                      <td>{{account.ngayTao | date: 'dd/MM/yyyy'}}</td>
                      <td>{{account.chucVu.ten}}</td>
<!--                      <td>-->
<!--                        &lt;!&ndash;                                            <a [routerLink]="'/admin/' + account.id" type="button"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                               class="btn btn-info">Chi tiết</a>&ndash;&gt;-->
<!--                        <button type="button" class="btn btn-info" ">Chi-->
<!--                          tiết-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-danger" (click)="openModal(account)">Vô hiệu hoá-->
<!--                        </button>-->
<!--                      </td>-->
                      <td>
                        <div *ngIf="account.trangThai === 1">
                          <div class="form-check form-switch" (click)="delete(account.id)">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                          </div>
                        </div>
                        <div *ngIf="account.trangThai === 0">
                          <div class="form-check form-switch" (click)="openAccount(account.id)">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                          </div>
                        </div>
                      </td>
                      <td>
                        <a (click)="openModal(account)" style="color: #7A98FE;font-size: 20px;">
                          <i class="ti ti-info"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)"
                    [disabled]="currentPage === 0">
                    < </button>
                      <span style="margin: 5px">Trang {{ currentPage + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)"
                        [disabled]="currentPage === totalPages - 1">>
                      </button>
                </div>
                <div *ngIf="accounts.length === 0">
                  <p>Không có tài khoản nào được tìm thấy.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                      <div class="row alig n-items-start">
                        ở đây để form
                      </div>
                    </div>
                    <div id="earning"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" #accountModal tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountModalLabel">Chi tiết Tài khoản</h5>
          <button type="button" class="btn-close" (click)="closeAccountModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th scope="col">
                  <h6 class="fw-semibold mb-0">Tên đăng nhập</h6>
                </th>
                <th scope="col">
                  <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                </th>
                <th scope="col">
                  <h6 class="fw-semibold mb-0">Chức vụ</h6>
                </th>
                <th scope="col">
                  <h6 class="fw-semibold mb-0">Action</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6 class="fw-semibold mb-1 ">{{selectedAccount?.tenDangNhap }}</h6>
                </td>
                <td>{{selectedAccount?.ngayTao | date: 'dd/MM/yyyy'}}</td>
                <td>{{selectedAccount?.chucVu.ten}}</td>
                <td>
                  <!--                                            <a [routerLink]="'/admin/' + account.id" type="button"-->
                  <!--                                               class="btn btn-info">Chi tiết</a>-->
                  <button type="button" class="btn btn-warning  ">Cập nhật</button>

                </td>
              </tr>
            </tbody>
          </table>
          <!-- Thông tin chi tiết tài khoản sẽ được hiển thị ở đây -->
          <!--          <p>Tên đăng nhập: {{ selectedAccount?.tenDangNhap }}</p>-->
          <!--          <p>Ngày tạo: {{ selectedAccount?.ngayTao | date: 'dd/MM/yyyy' }}</p>-->
          <!--          <p>Chức vụ: {{ selectedAccount?.idChucVu.ten }}</p>-->
          <!-- Thêm thông tin khác nếu cần -->
        </div>
      </div>
    </div>
  </div>



