<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <!--  Main wrapper -->
  <div class="body-wrapper">

    <app-admin-header></app-admin-header>
    <!--  Header End -->
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-8 d-flex align-items-strech">
          <div class="card w-100">
            <div class="card-body">
              <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                  <h3 class="card-title fw-semibold">Bán hàng tại quầy</h3>
                </div>
                <div>
                  <span><a class="btn btn-primary" style="color: white;" (click)="createHoaDon()">Tạo
                      hóa đơn</a></span>
                </div>
              </div>

              <div>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button *ngFor="let hoaDon of listHoaDonGioHang.slice(0,5); let i = index" class="nav-link"
                            [class.active]="i === 0" id="nav-home-tab-{{i}}" data-bs-toggle="tab"
                            [attr.data-bs-target]="'#nav-home-' + i" type="button" role="tab"
                            [attr.aria-controls]="'nav-home-' + i" [attr.aria-selected]="i === 0"
                            (click)="loadGioHangChiTiet(hoaDon.gioHang.id)" (click)="loadHoaDonById(hoaDon.hoaDon.id)"
                            (click)="loadGioHangById(hoaDon.gioHang.id)" (click)="findHoaDonByMa(hoaDon.hoaDon.ma)">
                <div *ngIf="!noOrder">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button *ngFor="let hoaDon of listHoaDonGioHang.slice(0,5); let i = index" class="nav-link"
                        [class.active]="i === 0" id="nav-home-tab-{{i}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#nav-home-' + i" type="button" role="tab"
                        [attr.aria-controls]="'nav-home-' + i" [attr.aria-selected]="i === 0"
                        (click)="loadGioHangChiTiet(hoaDon.gioHang.id)" (click)="loadHoaDonById(hoaDon.hoaDon.id)"
                        (click)="loadGioHangById(hoaDon.gioHang.id)" (click)="findHoaDonByMa(hoaDon.hoaDon.ma)">

                        {{hoaDon.hoaDon.ma}}
                      </button>
                    </div>
                  </nav>

                <div class="tab-content" id="nav-tabContent">
                  <div *ngFor="let hoaDon of listHoaDonGioHang.slice(0,5); let i = index" class="tab-pane fade"
                       [class.show]="i === 0" [class.active]="i === 0" id="nav-home-{{i}}" role="tabpanel"
                       [attr.aria-labelledby]="'nav-home-tab-' + i" tabindex="0">
                  <div class="tab-content" id="nav-tabContent">
                    <div *ngFor="let hoaDon of listHoaDonGioHang.slice(0,5); let i = index" class="tab-pane fade"
                      [class.show]="i === 0" [class.active]="i === 0" id="nav-home-{{i}}" role="tabpanel"
                      [attr.aria-labelledby]="'nav-home-tab-' + i" tabindex="0">

                    <div class="container-fluid" *ngIf="!noProductsFound">
                      <div class="d-flex justify-content-end mt-3 mb-3">
                        <a class="btn btn-primary" style="color: white;" (click)="resetGioHang()">Làm mới</a>
                      </div>
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Tên sản phẩm</th>
                          <th>Màu sắc</th>
                          <th>Kích thước</th>
                          <th>Số lượng</th>
                          <th>Đơn giá</th>
                          <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let chiTiet of gioHangChiTiet">
                          <td>{{ chiTiet.chiTietSanPham.sanPham.ten }}</td>
                          <td>{{ chiTiet.chiTietSanPham.mauSac.ten }}</td>
                          <td>{{ chiTiet.chiTietSanPham.kichThuoc.ten }}</td>
                          <td>
                            <input type="number" style="width: 50px;" [(ngModel)]="chiTiet.soLuong" min="0">
                          </td>
                          <td>{{ chiTiet.chiTietSanPham.giaBan }}</td>
                          <td class="d-flex justify-content-center text-center">
                              <span>
                                <a class="btn"  (click)="updateGioHangChiTiet(chiTiet.id, chiTiet.soLuong)"
                                   style="color: #7A98FE; font-size: 16px; ">
                                  <i class="ti ti-edit"></i>
                                </a>
                              </span>
                            <span>
                                <a class="btn" (click)="confirmDelete(chiTiet.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                   style="color: #ff3700; font-size: 16px; ">
                                  <i class="ti ti-x"></i>
                                </a>
                              </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="mt-3 d-flex justify-content-end">
                        <button class="btn btn-primary">
                          < </button>
                        <span style="margin: 5px">Trang {{ page + 1 }}</span>
                        <button class="btn btn-primary"> ></button>
                      </div>
                    </div>
                    <div *ngIf="noProductsFound" class="m-5 d-flex justify-content-center">
                      <p>Chưa có sản phẩm nào</p>
                      <div class="container-fluid" *ngIf="!noProductsFound">
                        <div class="d-flex justify-content-end mt-3 mb-3">
                          <a class="btn btn-primary" style="color: white;" (click)="resetGioHang()">Làm mới</a>
                        </div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Tên sản phẩm</th>
                              <th>Màu sắc</th>
                              <th>Kích thước</th>
                              <th>Số lượng</th>
                              <th>Đơn giá</th>
                              <th>Thao tác</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let chiTiet of gioHangChiTiet">
                              <td>{{ chiTiet.chiTietSanPham.sanPham.ten }}</td>
                              <td>{{ chiTiet.chiTietSanPham.mauSac.ten }}</td>
                              <td>{{ chiTiet.chiTietSanPham.kichThuoc.ten }}</td>
                              <td>
                                <input type="number" style="width: 50px;" [(ngModel)]="chiTiet.soLuong" min="0">
                              </td>
                              <td>{{ chiTiet.chiTietSanPham.giaBan }}</td>
                              <td class="d-flex justify-content-center text-center">
                                <span>
                                  <a class="btn" (click)="updateGioHangChiTiet(chiTiet.id, chiTiet.soLuong)"
                                    style="color: #7A98FE; font-size: 16px; ">
                                    <i class="ti ti-edit"></i>
                                  </a>
                                </span>
                                <span>
                                  <a class="btn" (click)="confirmDelete(chiTiet.id)" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" style="color: #ff3700; font-size: 16px; ">
                                    <i class="ti ti-x"></i>
                                  </a>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="mt-3 d-flex justify-content-end">
                          <button class="btn btn-primary">
                            < </button>
                              <span style="margin: 5px">Trang {{ page + 1 }}</span>
                              <button class="btn btn-primary"> ></button>
                        </div>
                      </div>
                      <div *ngIf="noProductsFound" class="m-5 d-flex justify-content-center">
                        <p>Chưa có sản phẩm nào</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="noOrder" class="text-center d-flex align-items-center justify-content-center">
                  <p class="text-danger mt-5" style="font-size: 16px;">Chưa có hóa đơn nào! Hãy tạo hóa đơn.</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-start">
                    <form>
                      <div class="mb-4">
                        <label class="form-label me-2">Mã hóa đơn:</label>
                        {{ hoaDon.ma }}
                      </div>
                      <div class="row align-items-center">
                        <div class="container-fluid mb-4">
                          <div class="row d-flex justify-content-between">
                            <label class="form-label">Khách hàng</label>
                            <div class="col-8">
                              <input type="text" class="form-control" id="sdt" name="sdt"
                                     [(ngModel)]="sdtValue" (ngModelChange)="onSdtInputChange()" />
                              <input type="text" class="form-control" id="sdt" name="sdt" [(ngModel)]="sdtValue"
                                (ngModelChange)="onSdtInputChange()" />
                            </div>
                            <div class="col-4">
                              <button type="button" class="btn btn-info" (click)="getCustomer()">Chọn</button>
                            </div>
                          </div>
                          <i *ngIf="customer != null">
                            <i class="form-label" style="color: grey;">{{ customer.ten }}</i>
                          </i>
                        </div>
                        <div class="mb-2">
                          <span><label class="form-label me-2">Voucher:</label></span>
                          <span *ngIf="voucher != null" class="form-label" style="color: #49BEFF;">{{ voucher.ten
                            }}</span>
                        </div>
                        <button type="button" class="btn btn-info mb-4" (click)="showModal()">Chọn Voucher</button>
                        <div class="mb-4">
                          <label class="form-label">Phương thức thanh toán</label>
                          <select class="form-select" name="trangThai" aria-label="Default select example">
                            <option selected value="Tiền mặt">Tiền mặt</option>
                            <option value="Chuyển khoản">Chuyển khoản</option>
                          </select>
                        </div>
                        <div class="mb-4">
                          <label class="form-label me-3">Tổng tiền:</label>
                          {{ calculateTotal() }}
                        </div>
                        <div class="mb-4">
                          <label class="form-label">Tiền khách đưa</label>
                          <input type="text" class="form-control" id="tienKhachDua" name="tienKhachDua"
                            [(ngModel)]="tienKhachDua" (ngModelChange)="onTienKhachDua($event)" required />
                        </div>
                        <div class="mb-4">
                          <label class="form-label me-3">Tiền giảm:</label>
                          <span *ngIf="voucher != null" class="form-label" style="color: #49BEFF;">{{ discount }}</span>
                        </div>
                        <div class="mb-4">
                          <label class="form-label">Thành tiền</label>
                          <input type="text" class="form-control" [value]="thanhTien" readonly />
                        </div>
                        <div class="mb-4">
                          <label class="form-label">Tiền trả lại</label>
                          <input type="text" class="form-control" [value]="tienTraLai" readonly />
                        </div>
                        <div class="d-flex" style="margin-bottom: 25px;">
                          <span>
                            <button type="submit" class="btn btn-outline-info me-3" (click)="showModalPayment()">
                              <span>
                                <i class="ti ti-wallet"></i>
                              </span>
                              <span class="hide-menu">Thanh toán</span>
                            </button>
                          </span>
                          <span>
                            <button type="button" class="btn btn-outline-danger" style="color: #F87777;"
                                    (click)="deleteHoaDonFromLocalStorage()">
                              <span>
                                <i class="ti ti-x"></i>
                              </span>
                              <span class="hide-menu">Hủy đơn</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
                <div id="earning"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-strech">
            <div class="card" style="width: 1116px;">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Sản phẩm</h5>
                  </div>
                  <div class="d-flex justify-content-end">
                    <span>
                      <select class="form-select ">
                        <option value="1">Màu sắc</option>
                        <option value="2">Tên</option>
                      </select>
                    </span>
                    <span class="ms-2">
                      <select class="form-select ">
                        <option value="1">Chất liệu</option>
                        <option value="2">Tên</option>
                      </select>
                    </span>
                    <span class="ms-2">
                      <select class="form-select">
                        <option value="1">Kích thước</option>
                        <option value="2">Tên</option>
                      </select>
                    </span>
                    <span class="ms-2">
                      <select class="form-select">
                        <option value="1">Thương Hiệu</option>
                        <option value="2">Tên</option>
                      </select>
                    </span>
                    <span class="ms-2">
                      <select class="form-select">
                        <option value="0">Danh mục</option>
                        <option *ngFor="let danhMuc of danhMucList" [value]="danhMuc.id">{{ danhMuc.ten }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="container-fluid">
                  <table class="table text-nowrap mb-0 col-12 mb-3">
                    <thead class="text-dark fs-4">
                    <tr>
                      <th class="border-bottom-0" scope="col">
                        <h6 class="fw-semibold mb-0">#</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Mã sản phẩm</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Tên sản phẩm</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Danh mục</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Màu sắc</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Kích thước</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Chất liệu</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Thương hiệu</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Giá bán</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Số lượng</h6>
                      </th>
                      <th scope="col">
                        <h6 class="fw-semibold mb-0">Thao tác</h6>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 30px;" *ngFor="let sanPhamChiTiet of listSanPhamChiTiet; let i = index">

                        <td> {{ i + 1 }}</td>
                        <td>{{ sanPhamChiTiet.sanPham.ma }}</td>
                        <td>{{ sanPhamChiTiet.sanPham.ten }}</td>
                        <td>{{ sanPhamChiTiet.danhMuc.ten }}</td>
                        <td>{{ sanPhamChiTiet.mauSac.ten }}</td>
                        <td>{{ sanPhamChiTiet.kichThuoc.ten }}</td>
                        <td>{{ sanPhamChiTiet.chatLieu.ten }}</td>
                        <td>{{ sanPhamChiTiet.thuongHieu.ten }}</td>
                        <td>{{ sanPhamChiTiet.giaBan }}</td>
                        <td>{{ sanPhamChiTiet.soLuong }}</td>
                        <!-- (click)="themSanPhamVaoGioHang()" -->
                        <td><button style="color: #7A98FE;font-size: 20px; border: none; background-color: transparent;"
                            (click)="loadChiTietSanPhamById(sanPhamChiTiet.id)" (click)="showModalAdd()">
                            <i class="ti ti-plus"></i>
                          </button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <div class="d-flex justify-content-end">
                      <button (click)="onPageChangeSanPhamCT(page - 1)" class="btn btn-secondary"
                              [disabled]="page === 0">
                        < </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button (click)="onPageChangeSanPhamCT(page + 1)" class="btn btn-secondary"
                              [disabled]="page === totalPages - 1"> >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="chiTietSanPham.length === 0">
                <p>Không có danh mục nào được tìm thấy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" #voucherModal tabindex="-1" aria-labelledby="accountModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="accountModalLabel1">Danh sách voucher</h5>

            <button type="button" class="btn-close" (click)="closeVoucherModal()" aria-label="Close"></button>

          </div>

          <div class="modal-body">
            <form class="d-flex" role="search">
              <!--          <input class="form-control me-2" type="search" [formControl]="searchControl" placeholder="Tìm kiếm"-->
              <!--                 aria-label="Search">-->
              <button class="btn btn-outline-success" type="submit">Tìm</button>
            </form>
            <ul *ngIf="results.length > 0">
              <li *ngFor="let result of results">{{ result }}</li>
            </ul>
            <hr>
            <div *ngIf="vouchers && vouchers.length > 0">
              <div class="row ms-2">
                <div *ngFor="let voucher of vouchers" class="col-md-4 mb-4 d-flex">
                  <div class="">
                    <div class=" container-fluid row rounded shadow" style="border-left: 12px solid #49BEFF;">
                      <div class="col-4 d-flex justify-content-center align-items-center text-center p-2"
                           style="border-right: 1px dashed #ccc;">
                        <h5>{{voucher.ma}}</h5>
                      </div>
                      <div class="col-8">
                        <h6 class="mt-3">
                          <span>Giảm: </span>
                          <span>{{voucher.giaTriGiam}}%</span>
                        </h6>
                        <small class="mb-2">
                          <span>cho đơn tối đa từ </span>
                          <span>{{voucher.giaTriToiThieu}}đ</span>
                        </small>
                        <br>
                        <i style="display: inline; font-size: 11px;" class="mb-3">
                          <span style="display: inline; margin-right: 4px;">HSD: </span>
                          <span style="display: inline; margin-right: 4px;">{{formatDate(voucher.ngayKetThuc)}}</span>
                        </i>
                        <button type="button" (click)="getVoucherById(voucher.id)"
                                style="border: none; background: #49BEFF; color: #fff; padding: 2px 12px; border-radius: 20px;font-size: 12px; margin-top: 15px; margin-bottom: 20px;">Sử
                          dụng</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button (click)="onPageChange(currentPage - 1)" class="btn btn-secondary" [disabled]="currentPage === 0">
                Previous
              </button>
              <button (click)="onPageChange(currentPage + 1)" class="btn btn-secondary"
                      [disabled]="currentPage === totalPages - 1">Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal thêm mới khách hàng -->
    <!--<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">-->
    <!--  <div class="modal-dialog">-->
    <!--    <div class="modal-content">-->
    <!--      <div class="modal-header">-->
    <!--        <h5 class="modal-title" id="addCustomerModalLabel">Thêm mới khách hàng</h5>-->
    <!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--      </div>-->
    <!--      <div class="modal-body">-->
    <!--        <form (ngSubmit)="addCustomer()">-->
    <!--          <div class="mb-3">-->
    <!--            <label for="customerName" class="form-label">Tên khách hàng</label>-->
    <!--            <input type="text" class="form-control" id="customerName" [(ngModel)]="newCustomer.ten" name="customerName"-->
    <!--                   required>-->
    <!--          </div>-->
    <!--          &lt;!&ndash; Thêm các thông tin khách hàng khác nếu cần &ndash;&gt;-->
    <!--          <button type="submit" class="btn btn-primary">Thêm</button>-->
    <!--        </form>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->




  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  [ngClass]="{'is-active': showConfirmationModal}">
  <div class="modal-dialog" (click)="cancelDelete()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Bạn có chắc chắn muốn xóa sản phẩm này</h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="deleteConfirmed()" data-bs-dismiss="modal">Xóa</button>
        <button class="btn btn-danger" (click)="cancelDelete()" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #addToCartModal tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Nhập số lượng</h5>

        <button type="button" class="btn-close" (click)="closeAddToCartModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="product_count mt-2">
          <input type="text" name="qty" maxlength="12" title="Quantity:" [(ngModel)]="quantity" class="input-text qty">
          <button class="increase items-count" type="button" (click)="increaseQuantity()"><i
              class="lnr lnr-chevron-up"></i></button>
          <button class="reduced items-count" type="button" (click)="decreaseQuantity()"><i
              class="lnr lnr-chevron-down"></i></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addToCart()">Thêm vào giỏ hàng</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" #confirmPayment tabindex="-1" aria-labelledby="paymentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModal">Xác nhận thanh toán</h5>

        <button type="button" class="btn-close" (click)="closeConfirmPayment()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Bạn có muốn thanh toán đơn hàng này không?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSubmitPayment()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>



