<app-header></app-header>

<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Shopping Cart</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" style="font-size: 14px;">Sản phẩm</th>
            <th scope="col" style="font-size: 14px;">Giá bán</th>
            <th scope="col" style="font-size: 14px;">Số lượng</th>
            <th scope="col" style="font-size: 14px;">Tổng tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of gioHangChiTiet">
            <td>
              <div class="media">
                <div class="d-flex">
                  <img src="assets/shopping/img/cart/cart3.png" alt="">
                </div>
                <div class="media-body">
                  <p>{{item.chiTietSanPham.sanPham.ten}}</p>
                </div>
              </div>
            </td>
            <td>
              <h5>{{ item.chiTietSanPham.giaBan | currency:'VND':'symbol':'1.0-0' }}</h5>
            </td>
            <td>
              <div class="product_count">
                <input type="text" name="qty" maxlength="12" value="1" title="Quantity:" [(ngModel)]="item.soLuong" min="0"
                       class="input-text qty">
                <button class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                <button class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
              </div>
            </td>
            <td>
              <h5>{{ calculateSubtotal(item) | currency:'VND':'symbol':'1.0-0' }}</h5>
            </td>
          </tr>
          <tr class="bottom_button">
            <td>
              <a class="button" href="#">Cập nhật giỏ hàng</a>
            </td>
            <td> tổng tiền:  <h5>{{getCartTotal() | currency:'VND':'symbol':'1.0-0' }}</h5> </td>
            <td> - </td>
            <td>
              <div class="cupon_text d-flex justify-content-end align-items-end">
                <input type="text" placeholder="Coupon Code">
                <a class="primary-btn" href="#">Lựa chọn</a>
              </div>
            </td>
          </tr>
          
          <tr class="out_button_area">
            <td class="d-none-l"> - </td>
            <td class=""> - </td>
            <td> - </td>
            <td>
              <div class="checkout_btn_inner d-flex justify-content-end align-items-center">
                <a class="gray_btn" href="#">Tiếp tục mua hàng</a>
                <a class="primary-btn ml-2" href="#">Thanh toán</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
<app-footer></app-footer>

<!-- <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> -->