.product-image {
    max-width: 80px;
    /* Thay đổi giá trị này theo kích thước mong muốn */
    height: auto;
    margin-right: 5px;
}

.header-card{
    border: 0.5px solid #f0f0f0;
}
.header-card{
    border: 0.5px solid #f0f0f0;
}
.footer-card{
    border: 0.5px solid #f0f0f0;

}
.cupon_text {
    margin-top: 10px;
}


.product_count {
    display: flex;
    align-items: center;
    font-size: 16px;
    /* Bạn có thể điều chỉnh kích thước font nếu cần */
    position: relative;
    /* Đặt vị trí tương đối cho container để các phần tử con có thể sử dụng vị trí tuyệt đối */
}

/* Điều chỉnh kích thước ô nhập liệu */
.product_count .qty {
    width: 100px;
    /* Đặt chiều rộng của ô nhập liệu */
    height: 40px;
    /* Đặt chiều cao của ô nhập liệu */
    font-size: 16px;
    /* Điều chỉnh kích thước font */
    padding-right: 40px;
    /* Thêm khoảng đệm bên phải để tạo chỗ cho các nút */
    box-sizing: border-box;
}

/* Điều chỉnh kích thước của các nút */
div .product_count .items-count {
    width: 20px;
    /* Đặt chiều rộng của các nút */
    height: 20px;
    /* Đặt chiều cao của các nút */
    font-size: 16px;
    /* Điều chỉnh kích thước font của các biểu tượng */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    /* Bỏ viền nếu cần */
    background-color: #f0f0f0;
    /* Đặt màu nền */
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    right: 10px;
    /* Đặt các nút ở cuối bên phải */
}

/* Định vị các nút tăng giảm */
div .product_count .increase {
    top: 2.4rem;
    /* Điều chỉnh vị trí theo chiều dọc */
    border: none !important;
}

.product_count .reduced {
    top: 3.6rem;
    /* Điều chỉnh vị trí theo chiều dọc */
}

.product_count .items-count i {
    font-size: 11px;
    /* Điều chỉnh kích thước biểu tượng */
}