<app-header></app-header>

<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Shopping Cart</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="font-size: 14px;">Sản phẩm</th>
              <th scope="col" style="font-size: 14px;">Giá bán</th>
              <th scope="col" style="font-size: 14px;">Số lượng</th>
              <th scope="col" style="font-size: 14px;">Tổng tiền</th>
              <th scope="col" style="font-size: 14px;">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of gioHangChiTiet">
              <td>
                <div class="media">
                  <div class="d-flex">
                      <img *ngIf="item.hinhAnhUrls && item.hinhAnhUrls.length > 0" [src]="item.hinhAnhUrls[0]" alt="" class="product-image">
                  </div>
                  <div class="media-body">
                      <p>{{ item.chiTietSanPham.sanPham.ten }}</p>
                  </div>
              </div>
              </td>
              <td>
                <h5>{{ item.chiTietSanPham.giaBan | currency:'VND':'symbol':'1.0-0' }}</h5>
              </td>
              <td>
                <div class="product_count">
                  <input type="text" name="qty" maxlength="12" [value]="item.soLuong" [(ngModel)]="item.soLuong" title="Quantity:"
                    class="input-text qty">
                  <button class="increase items-count" type="button" (click)="increaseQuantity(item)"><i
                      class="lnr lnr-chevron-up"></i></button>
                  <button class="reduced items-count" type="button" (click)="decreaseQuantity(item)"><i
                      class="lnr lnr-chevron-down"></i></button>
                </div>
              </td>
              <td>
                <h5>{{ calculateSubtotal(item) | currency:'VND':'symbol':'1.0-0' }}</h5>
              </td>
              <td>
                <span>
                  <a class="btn" (click)="updateGioHangChiTiet(item.id, item.soLuong)"
                    style="color: #7A98FE; font-size: 16px;">
                    <i class="ti ti-edit"></i>
                  </a>
                </span>
                <span>
                  <a class="btn" (click)="confirmDelete(item.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #ff3700; font-size: 16px;">
                    <i class="ti ti-x"></i>
                  </a>
                </span>
              </td>
            </tr>
            <tr class="bottom_button">
              <td>
                -
              </td>
              <td> tổng tiền: <h5>{{getCartTotal() | currency:'VND':'symbol':'1.0-0' }}</h5>
              </td>
              <td> - </td>
              <td> - </td>
              <td>
                <div class="cupon_text d-flex justify-content-end align-items-end">
                  <input type="text" placeholder="Coupon Code">
                  <a class="primary-btn" href="#">Lựa chọn</a>
                </div>
              </td>
            </tr>

            <tr class="out_button_area">
              <td class="d-none-l"> - </td>
              <td class=""> - </td>
              <td> - </td>
              <td> - </td>
              <td>
                <div class="checkout_btn_inner d-flex justify-content-end align-items-center">
                  <a class="gray_btn" href="#">Tiếp tục mua hàng</a>
                  <a class="primary-btn ml-2" href="#">Thanh toán</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
<app-footer></app-footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'is-active': showConfirmationModal}">
  <div class="modal-dialog" (click)="cancelDelete()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Bạn có chắc chắn muốn xóa sản phẩm này</h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="deleteConfirmed()" data-bs-dismiss="modal">Xóa</button>
    <button class="btn btn-danger" (click)="cancelDelete()" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>