<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
<!--              <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">-->
<!--                <img src="assets/admin/assets/images/logos/dark-logo.svg" width="180" alt="">-->
<!--              </a>-->
              <p class="text-center">Your Social Campaigns</p>
              <form [formGroup]="accountForm" (ngSubmit)="createAccount()">
                <div class="mb-3">
                  <label for="tenDangNhap" class="form-label">Tên đăng nhập</label>
                  <input type="text" class="form-control" formControlName="tenDangNhap" id="tenDangNhap" aria-describedby="textHelp">
                </div>
                <div class="mb-4">
                  <label for="matKhau" class="form-label">Mật khẩu</label>
                  <input type="password" class="form-control" formControlName="matKhau" id="matKhau" id="matKhau">
                </div>
                <div class="mb-4">
                  <label for="xacNhanMatKhau" class="form-label">Nhập lại mật khẩu</label>
                  <input type="password" class="form-control" formControlName="xacNhanMatKhau" id="xacNhanMatKhau" id="xacNhanMatKhau">
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng ký</button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                  <a class="text-primary fw-bold ms-2" href="/log-in">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

