<section class="login_box_area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <div class="hover">
            <h4>Bạn đã có tài khoản chưa?</h4>
            <p>Hãy đăng nhập để được trải nghiệm các dịch vụ bên cửa hàng cung cấp. </p>
            <a class="button button-account" href="login.html">Đăng nhập ngay</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner register_form_inner">
          <h3>Tạo tài khoản</h3>
          <form class="row login_form" action="#/" id="register_form" >
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Tên đăng nhập" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên đăng nhập'">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Xác nhận mật khẩu '">
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input type="checkbox" id="f-option2" name="selector">
                <label for="f-option2">Duy trì đăng nhập</label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="button button-register w-100">Đăng ký</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
