<app-header></app-header>
<section style="background-color: #ffffff;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <!-- Sidebar -->
            <div class="col-lg-3">
                <app-sidebar-profile></app-sidebar-profile>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Tất cả</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Chờ xử lý</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Vận
                                chuyển</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Hoàn
                                thành</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Đã hủy</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Trả hàng</button>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <a class="card mb-4" *ngFor="let item of hoaDonChiTiet" type="button" (click)="findHoaDonById(item.hoaDon.id)">
                            <div class="d-flex align-items-center mt-3 ms-3">
                                <span class="align-items-center" style="color: black;">
                                    <i class="ti ti-brand-shopee "></i>
                                    MT-Shirt
                                </span>
                                <span [ngClass]="{
                                        'text-danger': item.hoaDon.trangThai === 0 || item.hoaDon.trangThai === 4 || item.hoaDon.trangThai === 5,
                                        'text-warning': item.hoaDon.trangThai === 1,
                                        'text-primary': item.hoaDon.trangThai === 2,
                                        'text-success': item.hoaDon.trangThai === 3
                                      }" class="ms-auto me-3">
                                    {{ getTrangThaiText(item.hoaDon.trangThai) }}
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center">
                                <span class="ms-2">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img *ngIf="item.hinhAnhUrls && item.hinhAnhUrls.length > 0"
                                                [src]="item.hinhAnhUrls[1]" alt="" class="product-image">
                                        </div>
                                        <div class="media-body">
                                            <p style="color: black; font-size: 16px;">
                                                {{ item.chiTietSanPham.sanPham.ten }}
                                                <br>
                                                <span style="color: rgb(150, 150, 150); font-size: 12px;">Phân loại sản
                                                    phẩm: </span>
                                                <br>
                                                <span
                                                    style="color: rgb(150, 150, 150); font-size: 12px;">{{item.chiTietSanPham.mauSac.ten}},
                                                </span>
                                                <span
                                                    style="color: rgb(150, 150, 150); font-size: 12px;">{{item.chiTietSanPham.kichThuoc.ten}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </span>
                                <span class="ms-auto me-3" style="color: #5D87FF;">
                                    {{ item.chiTietSanPham.giaBan | currency:'VND':'symbol':'1.0-0'}}
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-end align-items-center me-3 mb-1">
                                <p style="color: black; font-size: 14;">Thành tiền:
                                    <span style="color: #5D87FF;">{{item.hoaDon.tongTien |
                                        currency:'VND':'symbol':'1.0-0'}}</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mb-2 me-3">
                                <button class="btn btn-primary me-2">Mua lại</button>
                                <button class="btn btn-warning">Phản hồi</button>
                                <button *ngIf="item.hoaDon.trangThai === 1" class="btn btn-danger ms-2">Hủy hàng</button>
                            </div>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>