
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
                          type="button" role="tab" aria-controls="pills-all" aria-selected="true">Tất cả
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-0-tab" data-bs-toggle="pill" data-bs-target="#pills-0"
                          type="button" role="tab" aria-controls="pills-0" aria-selected="true"
                          (click)="onTabChange(0)">Chưa
                    thanh toán
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2"
                          type="button" role="tab" aria-controls="pills-2" aria-selected="false"
                          (click)="onTabChange(1)">Chờ xác nhận
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3"
                          type="button" role="tab" aria-controls="pills-3" aria-selected="false"
                          (click)="onTabChange(2)">Đã xử lý
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4"
                          type="button" role="tab" aria-controls="pills-4" aria-selected="false"
                          (click)="onTabChange(3)">Đang giao
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-5-tab" data-bs-toggle="pill" data-bs-target="#pills-5"
                          type="button" role="tab" aria-controls="pills-5" aria-selected="false"
                          (click)="onTabChange(4)">Hoàn thành
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-6-tab" data-bs-toggle="pill" data-bs-target="#pills-6"
                          type="button" role="tab" aria-controls="pills-6" aria-selected="false"
                          (click)="onTabChange(5)">Hủy hàng
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-7-tab" data-bs-toggle="pill" data-bs-target="#pills-7"
                          type="button" role="tab" aria-controls="pills-7" aria-selected="false"
                          (click)="onTabChange(6)">Sửa đơn
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                  <div *ngIf="listHoaDon.length > 0">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let listHoaDon of listHoaDon; let i = index" style="height: 30px;">
                        <th scope="row">{{ currentPage * pageSize + i + 1 }}</th>
                        <td>{{ listHoaDon.ma }}</td>
                        <td>{{ formatDate(listHoaDon.ngayTao) }}</td>
                        <td>
                          <p *ngIf="listHoaDon.ghiChu != null">{{ listHoaDon.ghiChu }}</p>
                          <p *ngIf="listHoaDon.ghiChu === null"> - </p>
                        </td>
                        <td>{{ listHoaDon.tongTien }}</td>
                        <td>
                          <p *ngIf="listHoaDon.voucher != null">{{ listHoaDon.voucher.giaTriGiam }}%</p>
                          <p *ngIf="listHoaDon.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="listHoaDon.khachHang != null">{{ listHoaDon.khachHang.ten }}</p>
                          <p *ngIf="listHoaDon.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="listHoaDon.nhanVien != null">{{ listHoaDon.nhanVien.ten }}</p>
                          <p *ngIf="listHoaDon.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(listHoaDon.trangThai)">
                          {{ getTrangThaiText(listHoaDon.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(listHoaDon.id)"
                            (click)="loadHoaDonById(listHoaDon.id)">
                            Xem
                          </button>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChangeAll(currentPage - 1)"
                              [disabled]="currentPage === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ currentPage + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChangeAll(currentPage + 1)"
                              [disabled]="currentPage === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="listHoaDon.length === 0">
                    <p>Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>
                <div class="tab-pane fade " id="pills-0" role="tabpanel" aria-labelledby="pills-0-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi Chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ currentPage * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>

                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>

                </div>
                <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>

                <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>

                <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab">
                  <div *ngIf="!noProductsFound">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0" scope="col">
                          <h6 class="fw-semibold mb-0">#</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Mã</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Ghi chú</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Tổng tiền giảm</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Khách hàng</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Nhân viên</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th scope="col">
                          <h6 class="fw-semibold mb-0">Thao tác</h6>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let hoaDons of hoaDons; let i = index" style="height: 30px;">
                        <th scope="row">{{ page * pageSize + i + 1 }}</th>
                        <td>{{ hoaDons.ma }}</td>
                        <td>{{ formatDate(hoaDons.ngayTao) }}</td>
                        <td>
                          <p *ngIf="hoaDons.ghiChu != null">{{ hoaDons.ghiChu }}</p>
                          <p *ngIf="hoaDons.ghiChu === null"> - </p>
                        </td>
                        <td>{{ hoaDons.tongTien }}</td>
                        <td>
                          <p *ngIf="hoaDons.voucher != null">{{ hoaDons.voucher.giaTriGiam }}%</p>
                          <p *ngIf="hoaDons.voucher === null"> - </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>
                          <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>
                        </td>
                        <td>
                          <p *ngIf="hoaDons.nhanVien != null">{{ hoaDons.nhanVien.ten }}</p>
                          <p *ngIf="hoaDons.nhanVien === null"> Mua online </p>
                        </td>
                        <td [style.color]="getTrangThaiColor(hoaDons.trangThai)">
                          {{ getTrangThaiText(hoaDons.trangThai) }}
                        </td>
                        <td>
                          <button
                            style="color: #7A98FE;font-size: 14px; margin: 0px; border: none !important; background-color: transparent;"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2" (click)="loadHoaDonChiTiet(hoaDons.id)"
                            (click)="loadHoaDonById(hoaDons.id)">
                            Xem
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="mt-3">
                      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">
                        <
                      </button>
                      <span style="margin: 5px">Trang {{ page + 1 }}</span>
                      <button class="btn btn-primary" (click)="onPageChange(page + 1)"
                              [disabled]="page === totalPages - 1">>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="noProductsFound"
                       class=" mt-4 text-center d-flex justify-content-center align-items-center">
                    <p class="mt-5">Không có hóa đơn nào được tìm thấy.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--<div class="modal fade" #confirmUpdate tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title" id="exampleModalLabel1">Xác nhận chuyển trạng tháu</h4>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"-->
<!--                (click)="closeconfirmUpdate()"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <label class="form-label">Xác nhận chuyển trạng thái</label>-->
<!--        <input type="text" class="form-control" placeholder="Ghi chú" [(ngModel)]="ghiChu">-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-success" (click)="suaTrangThaiModal()" data-bs-dismiss="modal">Xác nhận</button>-->
<!--        <button class="btn btn-danger" (click)="closeconfirmUpdate()" data-bs-dismiss="modal">Hủy</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="modal fade modal-xl" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Hóa đơn chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <h6>Thông tin khách hàng</h6>
            <div class="d-flex">
              <!--              <p *ngIf="hoaDons.khachHang != null">{{ hoaDons.khachHang.ten }}</p>-->
              <!--              <p *ngIf="hoaDons.khachHang === null"> Khách lẻ </p>-->
              <span class="me-2 fw-bold">Họ và tên:</span>
              <span>
                {{tenKhachHang ? tenKhachHang : 'Khách lẻ'}}
              </span>
            </div>
            <p><strong>Địa chỉ:</strong> {{ diaChiKhachHang ? diaChiKhachHang : 'Mua tại quầy'}}</p>
            <p><strong>Số điện thoại: </strong> {{ sdtKhachHang ? sdtKhachHang : 'Khách lẻ'}}</p>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="divider"></div>
          </div>
          <div class="col-md-8">
            <h6>Thông tin đơn hàng</h6>
            <p><strong>Mã đơn hàng:</strong> ORD123456</p>
            <p><strong>Hóa đơn:</strong> {{hoaDonSua.ma}}</p>
            <p><strong>Chi tiết sản phẩm:</strong></p>
            <table class="table" *ngIf="!noCartDetail">
              <thead>
              <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th>Kích thước</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let chiTiet of hoaDonChiTiet">
                <td>{{ chiTiet.chiTietSanPham.sanPham.ma }}</td>
                <td>{{ chiTiet.chiTietSanPham.sanPham.ten }}</td>
                <td>{{ chiTiet.chiTietSanPham.mauSac.ten }}</td>
                <td>{{ chiTiet.chiTietSanPham.kichThuoc.ten }}</td>
                <td>{{ chiTiet.soLuong }}</td>
                <td>{{ chiTiet.chiTietSanPham.giaBan }}</td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex">
              <span class="me-2 fw-bold">Voucher:</span>
              <span *ngIf="hoaDonSua.voucher === null">Không</span>
              <span *ngIf="hoaDonSua.voucher != null">{{hoaDonSua.voucher.ten}}</span>
            </div>
            <div class="d-flex">
              <span class="me-2 fw-bold">Tông tiền:</span>
              <span>{{hoaDonSua.tongTien}}</span>
            </div>
          </div>

          <hr>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6>Thông tin nhan vien ban</h6>
            <p><strong>Tên:</strong> admin</p>
            <p><strong>Số điện thoại:</strong> 0123456789</p>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="divider"></div>
          </div>
          <div class="col-md-8">
            <h6>Thông tin mo ta</h6>
            <p [style.color]="getTrangThaiColor(hoaDonSua.trangThai)"><strong>Trạng thái đơn hàng:</strong> {{getTrangThaiText(hoaDonSua.trangThai)}}</p>
            <p><strong>Hinh thuc mua:</strong>
              <select class="form-select">
                <option>onl</option>
                <option>off</option>
              </select></p>
            <p><strong>Ghi chú </strong>{{hoaDonSua.ghiChu}}</p>
            <div class="mb-3">
              <label class="form-label">Ghi chú</label>
              <textarea class="form-control" rows="3" [(ngModel)]="ghiChu"></textarea>
            </div>
            <p><strong>Nguoi thuc hien:</strong> Admin </p>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="suaTrangThaiModal()" data-bs-dismiss="modal"
                  *ngIf="hoaDonSua.trangThai === 0 || hoaDonSua.trangThai === 1 || hoaDonSua.trangThai === 2 || hoaDonSua.trangThai === 3 "
          >Xác nhận</button>
          <button type="button" class="btn btn-danger" (click)="huyDonModal()" data-bs-dismiss="modal"
                  *ngIf="hoaDonSua.trangThai === 0 || hoaDonSua.trangThai === 1 || hoaDonSua.trangThai === 2 || hoaDonSua.trangThai === 3 "
          >Hủy đơn</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Hóa đơn chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <h6>Thông tin khách hàng</h6>
            <div class="d-flex">
              <span class="me-2 fw-bold">Họ và tên:</span>
              <span>{{tenKhachHang}}</span>
            </div>
            <p><strong>Địa chỉ:</strong> {{diaChiKhachHang}}</p>
            <p><strong>Số điện thoại: </strong> {{sdtKhachHang}}</p>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="divider"></div>
          </div>
          <div class="col-md-8">
            <h6>Thông tin đơn hàng</h6>
            <p><strong>Mã đơn hàng:</strong> ORD123456</p>
            <p><strong>Hóa đơn:</strong> {{hoaDonSua.ma}}</p>
            <p><strong>Chi tiết sản phẩm:</strong></p>
            <table class="table" *ngIf="!noCartDetail">
              <thead>
              <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th>Kích thước</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let chiTiet of hoaDonChiTiet, let i = index">
                <td>{{ chiTiet.chiTietSanPham.sanPham.ma }}</td>
                <td>{{ chiTiet.chiTietSanPham.sanPham.ten }}</td>
                <td>
                  <ng-container *ngIf="editingRow === i; else displayMauSac">
                    <select [(ngModel)]="chiTiet.chiTietSanPham.mauSac.ten" class="form-select" >
                      <option *ngFor="let mauSac of mauSacOptions" [value]="mauSac">{{ mauSac }}</option>
                    </select>
                  </ng-container>
                  <ng-template #displayMauSac>
                    {{ chiTiet.chiTietSanPham.mauSac.ten }}
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="editingRow === i; else displayKichThuoc">
                    <select [(ngModel)]="chiTiet.chiTietSanPham.kichThuoc.ten" class="form-select" >
                      <option *ngFor="let kichThuoc of kichThuocOptions" [value]="kichThuoc">{{ kichThuoc }}</option>
                    </select>
                  </ng-container>
                  <ng-template #displayKichThuoc>
                    {{ chiTiet.chiTietSanPham.kichThuoc.ten }}
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="editingRow === i; else displaySoLuong">
                    <input type="number" [(ngModel)]="chiTiet.soLuong" class="form-control"/>
                  </ng-container>
                  <ng-template #displaySoLuong>
                    {{ chiTiet.soLuong }}
                  </ng-template>
                </td>
                <td>{{ chiTiet.chiTietSanPham.giaBan }}</td>
                <td>
                  <button class="btn btn-warning" *ngIf="editingRow !== i" (click)="enableEditingAndLoadData(i, chiTiet.chiTietSanPham.sanPham.ma)">
                    <i class="ti ti-edit"></i>
                  </button>
                  <button class="btn btn-success" (click)="saveChanges1()" *ngIf="editingRow === i">
                    <i class="ti ti-file"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex">
              <span class="me-2 fw-bold">Voucher:</span>
              <span *ngIf="hoaDonSua.voucher === null">Không</span>
              <span *ngIf="hoaDonSua.voucher != null">{{hoaDonSua.voucher.ten}}</span>
            </div>
            <div class="d-flex">
              <span class="me-2 fw-bold">Tông tiền:</span>
              <span>{{hoaDonSua.tongTien}}</span>
            </div>
          </div>

          <hr>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6>Thông tin nhan vien ban</h6>
            <p><strong>Tên:</strong> admin</p>
            <p><strong>Số điện thoại:</strong> 0123456789</p>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <div class="divider"></div>
          </div>
          <div class="col-md-8">
            <h6>Thông tin mo ta</h6>

            <p [style.color]="getTrangThaiColor(hoaDonSua.trangThai)"><strong>Trạng thái đơn hàng:</strong> {{ getTrangThaiText(hoaDonSua.trangThai) }}</p>
            <p><strong>Hinh thuc mua:</strong>
              <select class="form-select">
                <option>onl</option>
                <option>off</option>
              </select></p>
            <p><strong>Ly do doi tra: </strong>{{hoaDonSua.ghiChu}}</p>
            <div class="mb-3">
              <label class="form-label">Ghi chú</label>
              <textarea class="form-control" rows="3" [(ngModel)]="ghiChu"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="saveChanges1()">Xác nhận</button>
          <button type="button" class="btn btn-danger" (click)="huyDonModal()" data-bs-dismiss="modal">Hủy đơn</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
