
<app-header></app-header>

<section class="section-margin--small mb-5">
  <div class="container" >
    <h2 class="fw-bold" style="border-bottom: 2px solid #3849EB">TẤT CẢ SẢN PHẨM</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-categories">
          <div class="head">Browse Categories</div>
          <ul class="main-categories">
            <div class="common-filter">
              <form action="#">
                <ul>
                  <li *ngFor="let category of categories" class="filter-list">
                    <input class="pixel-radio" type="radio" [id]="category.ten" name="danhMuc" (change)="onCategoryChange(category)">
                    <label [for]="category.ten">{{ category.ten }}</label>
                  </li>
                </ul>
              </form>
            </div>
          </ul>
        </div>
        <div class="sidebar-filter">
          <div class="top-filter-head">Product Filters</div>
          <div class="common-filter">
            <div class="head">Color</div>
            <form>
              <ul>
                <li *ngFor="let color of colors" class="filter-list">
                  <input class="pixel-radio" type="radio" [id]="color.ten" name="mauSac" (change)="onColorChange(color)">
                  <label [for]="color.ten">{{ color.ten }}</label>
                </li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Size</div>
            <form>
              <ul>
                <li *ngFor="let size of sizes" class="filter-list">
                  <input class="pixel-radio" type="radio" [id]="size.ten" name="kichThuoc" (change)="onSizeChange(size)">
                  <label [for]="size.ten">{{ size.ten }}</label>
                </li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Price</div>
            <div class="price-range-area">
              <div id="price-range"></div>
              <div class="value-wrapper d-flex">
                <div class="price">Price:</div>
                <span>$</span>
                <div id="lower-value"></div>
                <div class="to">to</div>
                <span>$</span>
                <div id="upper-value"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <!-- Start Filter Bar -->
        <div class="filter-bar d-flex flex-wrap align-items-center">
          <div class="sorting mr-auto">
            <select class="form-select" aria-label="Default select example">
              <option selected>12 Sản phẩm</option>
              <option value="1">20 Sản phẩm</option>
              <option value="2">32 Sản phẩm</option>
              <option value="3">40 Sản phẩm</option>
            </select>
          </div>
          <div>
            <div class="input-group filter-bar-search">
              <input type="text" placeholder="Search">
              <div class="input-group-append">
                <button type="button"><i class="ti-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let sanPham of chiTietSanPham">
              <div class="card text-center card-product" (click)="findSanPhamById(sanPham.id)">
                <div class="card-product__img">
                  <img class="card-img" *ngIf="sanPham.hinhAnh && sanPham.hinhAnh.length > 0" [src]="sanPham.hinhAnh[1].url" alt="Ảnh sản phẩm">
                  <ul class="card-product__imgOverlay">
                    <li>
                      <button><i class="ti ti-search"></i></button>
                    </li>
                    <li>
                      <button (click)="findSanPhamById(sanPham.id)"><i class="ti ti-shopping-cart"></i></button>
                    </li>
                    <li>
                      <button><i class="ti ti-heart"></i></button>
                    </li>
                  </ul>
                </div>
                <div class="card-body text-center">
                  <p>{{ sanPham.danhMuc.ten }}</p>
                  <h4 class="card-product__title"><a class="btn">{{ sanPham.sanPham.ten }} màu {{ sanPham.mauSac.ten }}</a></h4>
                  <p class="card-product__price">{{ sanPham.giaBan | currency:'VND':'symbol':'1.0-0' }}</p>
                  <p>Còn {{ sanPham.soLuong }} sản phẩm</p>
                  <div class="rating">
                    <i class="ti ti-star" [class.filled]="getDiemDanhGia(sanPham.id) >= 1"></i>
                    <i class="ti ti-star" [class.filled]="getDiemDanhGia(sanPham.id) >= 2"></i>
                    <i class="ti ti-star" [class.filled]="getDiemDanhGia(sanPham.id) >= 3"></i>
                    <i class="ti ti-star" [class.filled]="getDiemDanhGia(sanPham.id) >= 4"></i>
                    <i class="ti ti-star" [class.filled]="getDiemDanhGia(sanPham.id) >= 5"></i>
                    <span>({{ getSoLuongDanhGia(sanPham.id) }} đánh giá)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Best Seller -->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
