<section>
  <div class="container mt-3">
    <div class="row d-flex justify-content-center pb-5">
      <div class="col-md-7 col-xl-5 mb-4 mb-md-0">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <h5><span class="far fa-check-square pe-2"></span><b>THANH TOÁN</b> |</h5>
              <span class="ps-2">Pay</span>
            </div>
            <div class="d-flex pt-2">
              <div>
                <h3>THÔNG TIN KHÁCH HÀNG</h3>
              </div>
              <div class="ms-auto">
                <a class="text-primary" (click)="showModalInfor()" type="button">
                  <i class="fas fa-plus-circle text-primary pe-1"></i>Chọn thông tin có sẵn
                </a>
              </div>
            </div>
            <form [formGroup]="customerForm" (ngSubmit)="saveInfoPayment()" class="pb-3">
              <div class="mb-2">
                <label class="form-label">Họ và tên</label>
                <input type="text" class="form-control" formControlName="ten" id="ten">
              </div>
              <div class="mb-2">
                <label class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" formControlName="diaChi" id="diaChi">
              </div>
              <div class="mb-2">
                <label class="form-label">Số điện thoai</label>
                <input type="text" class="form-control" formControlName="sdt" id="sdt">
              </div>
              <div class="pt-2">
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="note"
                            id="note"></textarea>
                </div>
                <div class="d-flex flex-row pb-3">
                  <div class="d-flex align-items-center pe-2">
                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="TienMat"
                           aria-label="..."
                           checked/>
                  </div>
                  <div class="rounded border d-flex w-100 p-3 align-items-center">
                    <p class="mb-0">
                      <i class="ti ti-shopping-cart fa-lg text-primary pe-2"></i>Thanh toán
                      khi nhận hàng
                    </p>

                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div class="d-flex align-items-center pe-2">
                    <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value=""
                           aria-label="..."/>
                  </div>
                  <div class="rounded border d-flex w-100 pe-2 p-2 align-items-center">
                    <p class="me-0">
                      <img src="/assets/shopping/img/Logo-VNPAY-QR-1.webp"
                           style="width: 32px; height: 11.36px; margin-right: 3px;"/> Chuyển
                      khoán VNPAY
                    </p>
                  </div>
                  <button type="button" class="btn btn-info" (click)="showModal()">Chọn Voucher</button>
                </div>
                <button type="submit" data-mdb-ripple-init class="btn btn-primary btn-block btn-lg mt-3" [disabled]="loading"> Đặt hàng
                </button>
                <div *ngIf="loading" class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-4 offset-xl-1">
        <div class="card">
          <div class="card-body">
            <div class="py-4 d-flex justify-content-end">
              <h6><a href="#!">Hủy thanh toán</a></h6>
            </div>
            <div class="rounded d-flex flex-column p-2 bg-body-tertiary">
              <div class="p-2 me-3">
                <h4>Hóa đơn chi tiết</h4>
              </div>
              <div class="d-flex">
                <h4 class="col-8">Sản phẩm</h4>
                <h4 class="ms-auto">Tổng tiền</h4>
              </div>
              <div>
                <div class="p-2 mb-2 d-flex" *ngFor="let item of gioHangChiTiet">
                  <div class="col-8">{{ item.chiTietSanPham.sanPham.ten }} x{{ item.soLuong }}</div>
                  <div class="ms-auto">{{ calculateSubtotal(item) | currency:'VND':'symbol':'1.0-0' }}</div>
                </div>
              </div>
              <div class="p-2 d-flex border-top px-2 align-items-center">
                <div class="col-8">Tổng tiền giảm</div>
                <div class="ms-auto text-primary">{{ discount | currency:'VND':'symbol':'1.0-0' }}</div>
              </div>
              <div class="p-2 d-flex px-2 align-items-center">
                <div class="col-8">Tiền ship</div>
                <div class="ms-auto"><b>-</b></div>
              </div>
              <div class="border-top px-2 mx-2"></div>
              <div class="p-2 d-flex pt-3">
                <div class="col-8"><b>Tổng tiền</b></div>
                <div class="ms-auto"><b
                  class="text-success">{{ getCartTotal() - discount | currency:'VND':'symbol':'1.0-0' }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" #voucherModal tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Danh sách voucher</h5>
        <button type="button" class="btn-close" (click)="closeVoucherModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
        <ul *ngIf="results.length > 0">
          <li *ngFor="let result of results">{{ result }}</li>
        </ul>
        <hr>
        <div *ngIf="vouchers && vouchers.length > 0">
          <div class="row ms-2">
            <div *ngFor="let voucher of vouchers" class="col-md-4 mb-4 d-flex">
              <div class="container-fluid row rounded shadow" style="border-left: 12px solid #49BEFF;">
                <div class="col-4 d-flex justify-content-center align-items-center text-center p-2"
                     style="border-right: 1px dashed #ccc;">
                  <h5>{{ voucher.ma }}</h5>
                </div>
                <div class="col-8">
                  <h6 class="mt-3">
                    <span>Giảm: </span>
                    <span>{{ voucher.giaTriGiam }}%</span>
                  </h6>
                  <small class="mb-2">
                    <span>cho đơn tối đa từ </span>
                    <span>{{ voucher.giaTriToiThieu }}đ</span>
                  </small>
                  <br>
                  <i style="display: inline; font-size: 11px;" class="mb-3">
                    <span style="display: inline; margin-right: 4px;">HSD: </span>
                    <span style="display: inline; margin-right: 4px;">{{ formatDate(voucher.ngayKetThuc) }}</span>
                  </i>
                  <button type="button" (click)="getVoucherById(voucher.id)"
                          style="border: none; background: #49BEFF; color: #fff; padding: 2px 12px; border-radius: 20px; font-size: 12px; margin-top: 15px; margin-bottom: 20px;">
                    Sử dụng
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button (click)="onPageChange(currentPage - 1)" class="btn btn-outline-primary" [disabled]="currentPage <= 1">
            Previous
          </button>
          <button (click)="onPageChange(currentPage + 1)" class="btn btn-outline-primary"
                  [disabled]="currentPage >= totalPages">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="modal fade" #userInfor tabindex="-1" aria-labelledby="userInForModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="accountModalLabel2">Chọn thông tin có sẵn</h3>
        <button type="button" class="btn-close" (click)="closeInforModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="d-flex justify-content-start align-items-stretch customer-info">
            <span class="me-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" [value]="khachHang.id" (change)="selectCustomer(khachHang)" name="diaChi">
              </div>
            </span>
            <span class="customer-details">
              <span class="customer-name">{{ khachHang.ten }}</span> |
              <span class="customer-sdt">{{ khachHang.sdt }}</span> |
              <span class="customer-sdt text-bg-danger">Mặc định</span>
              <p class="customer-address mt-2">{{ khachHang.diaChi }}</p>
            </span>
            <span class="ms-auto update-link">
              <a href="" class="ti ti-edit-circle"></a>
            </span>
          </div>

          <div class="d-flex justify-content-start align-items-stretch customer-info mb-4" *ngFor="let item of thongTinDatHang">
            <span class="me-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="diaChi" [value]="item.id" (change)="selectCustomer(item)">
              </div>
            </span>
            <span class="customer-details">
              <span class="customer-name">{{ item.ten }}</span> |
              <span class="customer-sdt">{{ item.sdt }}</span>
              <p class="customer-address mt-2">{{ item.diaChi }}</p>
            </span>
            <span class="ms-auto update-link">
              <a href="" class="ti ti-edit-circle"></a>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="updateCustomerInfo()">Sử dụng</button>
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" (click)="closeInforModal()">Hủy</button>
      </div>
    </div>
  </div>
</div>

<app-spinner [isLoading]="loading"></app-spinner>
