<section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
  <div class="container mb-5">
    <div class="row">
      <div class="col-xl-5">
        <div class="offer__content text-center">
          <h3>Up To 50% Off</h3>
          <h4>Winter Sale</h4>
          <p>Him she'd let them sixth saw light</p>
          <a class="button button--active mt-3 mt-xl-4" href="/trang-chu">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
