<section class="section-margin mt-0">
  <div class="owl-carousel owl-theme hero-carousel">
    <div class="hero-carousel__slide">
      <img src="assets/shopping/img/home/hero-slide1.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
    <div class="hero-carousel__slide">
      <img src="assets/shopping/img/home/hero-slide2.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
    <div class="hero-carousel__slide">
      <img src="assets/shopping/img/home/hero-slide3.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
  </div>
</section>
