<app-header></app-header>
<section style="background-color: #ffffff;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <!-- Sidebar -->
            <div class="col-lg-3">
                <app-sidebar-profile></app-sidebar-profile>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- 2. Xay dung giao dien -->
                        <form [formGroup]="formKhachHang">
                            <div class="container mt-4">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="tenDangNhap" class="form-label">Tên đăng nhập</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label>{{myInfo.username}}</label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="ten" class="form-label">Tên</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="ten" class="form-control" formControlName="ten"
                                            name="ten">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label *ngIf="!isEditEmail">{{ khachHang.email | maskValue:3:10 }}</label>
                                        <input *ngIf="isEditEmail" type="email" id="email" class="form-control"
                                            formControlName="email" name="email">
                                        <a href="#" (click)="changeEditEmail()">Thay Đổi</a>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="sdt" class="form-label">Số điện thoại</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label *ngIf="!isEditSDT">{{khachHang.sdt | maskValue:1:2}}</label>
                                        <input *ngIf="isEditSDT" type="tel" id="sdt" class="form-control"
                                            formControlName="sdt" name="sdt">
                                        <a href="#" (click)="changeEditSDT()">Thay Đổi</a>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label class="form-label">Giới tính</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="gioiTinh"
                                                name="gioiTinh" id="male" [value]="true">
                                            <label class="form-check-label" for="male">Nam</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="gioiTinh"
                                                name="gioiTinh" id="female" [value]="false">
                                            <label class="form-check-label" for="female">Nữ</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="ngaySinh" class="form-label">Ngày sinh: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input formControlName="ngaySinh" type="date" id="ngaySinh" class="form-control"
                                            name="ngaySinh">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="diaChi" class="form-label">Địa chỉ: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input formControlName="diaChi" type="text" id="diaChi" class="form-control"
                                            name="diaChi">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" (click)="update()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

<!-- <app-header></app-header>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ khachHang?.ten }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary"
                            (click)="statusTransition()"
                            >Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        2. Xay dung giao dien
                        <form [formGroup]="formKhachHang">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="ten" class="form-label">Tên khách hàng:</label>
                                </div>
                                <div class="col-sm-9">
                                    <label *ngIf="!isEdit">
                                        {{khachHang?.ten}}
                                    </label>
                                    <input
                                    *ngIf="isEdit"
                                    formControlName="ten"
                                    type="text" id="ten" class="form-control" name="ten">
                                </div>
                            </div>
                            <hr>
                            
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="sdt" class="form-label">SĐT: </label>
                                </div>
                                <div class="col-sm-9">
                                    <label *ngIf="!isEdit">
                                        {{khachHang?.sdt}}
                                    </label>
                                    <input
                                    *ngIf="isEdit"
                                    formControlName="sdt"
                                    type="text" id="sdt" class="form-control" 
                                    name="sdt">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email" class="form-label">Email: </label>
                                </div>
                                <div class="col-sm-9">
                                    <label *ngIf="!isEdit">
                                        {{khachHang?.email}}
                                    </label>
                                    <input
                                    *ngIf="isEdit"
                                    formControlName="email"
                                    type="email" id="email" class="form-control" 
                                     name="email">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="diaChi" class="form-label">Địa chỉ: </label>
                                </div>
                                <div class="col-sm-9">

                                    <label *ngIf="!isEdit">
                                        {{khachHang?.diaChi}}
                                    </label>

                                    <input
                                    *ngIf="isEdit"
                                    formControlName="diaChi"
                                    type="text" id="diaChi" class="form-control" name="diaChi">
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary"
                            *ngIf="isEdit"
                            (click)="update()"
                            >Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer> -->