<ngx-spinner   [fullScreen]="true">

<div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
    <div class="wheel"></div>
    <div class="hamster">
      <div class="hamster__body">
        <div class="hamster__head">
          <div class="hamster__ear"></div>
          <div class="hamster__eye"></div>
          <div class="hamster__nose"></div>
        </div>
        <div class="hamster__limb hamster__limb--fr"></div>
        <div class="hamster__limb hamster__limb--fl"></div>
        <div class="hamster__limb hamster__limb--br"></div>
        <div class="hamster__limb hamster__limb--bl"></div>
        <div class="hamster__tail"></div>
      </div>
    </div>
    <div class="spoke"></div>
  </div>
</ngx-spinner>

<section style="background-color: #eee;">

  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <!-- Sidebar -->
      <div class="col-lg-3">
        <app-sidebar-profile></app-sidebar-profile>
      </div>
      <div class="col-lg-9">
        <div class="card mb-4">
          <div class="card-body">
            <!-- 2. Xay dung giao dien -->
            <form [formGroup]="formKhachHang">
              <div class="container mt-4">
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label class="form-label">Tên đăng nhập:</label>
                  </div>
                  <div class="col-sm-9">
                    <label>{{ myInfo.taiKhoan.tenDangNhap }}</label>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="ten" class="form-label">Tên:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" id="ten" class="form-control" formControlName="ten"
                           name="ten">
                    <div
                      *ngIf="f['ten'].invalid && (f['ten'].dirty || f['ten'].touched) && f['ten'].errors">
                      <div class="error-msg" *ngIf="f['ten']"></div>
                      <div style="color: red">
                        Không được để trống!
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="email" class="form-label">Email:</label>
                  </div>
                  <div class="col-sm-9">
                    <label *ngIf="!isEditEmail">{{ myInfo.email | maskValue:3:10 }}</label>
                    <input *ngIf="isEditEmail" type="email" id="email" class="form-control"
                           formControlName="email" name="email">
                    <a  (click)="changeEditEmail()">Thay Đổi</a>
                    <div
                      *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched) && f['email'].errors">
                      <div class="error-msg" *ngIf="f['email']"></div>
                      <div style="color: red">
                        Không được để trống!
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="sdt" class="form-label">Số điện thoại:</label>
                  </div>
                  <div class="col-sm-9">
                    <label *ngIf="!isEditSDT">{{ myInfo.sdt | maskValue:1:2 }}</label>
                    <input *ngIf="isEditSDT" type="tel" id="sdt" class="form-control"
                           formControlName="sdt" name="sdt">
                    <a  (click)="changeEditSDT()">Thay Đổi</a>
                    <div
                      *ngIf="f['sdt'].invalid && (f['sdt'].dirty || f['sdt'].touched) && f['sdt'].errors">
                      <div class="error-msg" *ngIf="f['sdt']"></div>
                      <div style="color: red">
                        Không được để trống!
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label class="form-label">Giới tính:</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gioiTinh"
                             name="gioiTinh" id="male" [value]="true">
                      <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gioiTinh"
                             name="gioiTinh" id="female" [value]="false">
                      <label class="form-check-label" for="female">Nữ</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="ngaySinh" class="form-label">Ngày sinh: </label>
                  </div>
                  <div class="col-sm-9">
                    <input formControlName="ngaySinh" type="date" id="ngaySinh" class="form-control"
                           name="ngaySinh">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="diaChi" class="form-label">Địa chỉ: </label>
                  </div>
                  <div class="col-sm-9">
                    <input formControlName="diaChi" type="text" id="diaChi" class="form-control"
                           name="diaChi">
                    <div
                      *ngIf="f['diaChi'].invalid && (f['diaChi'].dirty || f['diaChi'].touched) && f['diaChi'].errors">
                      <div class="error-msg" *ngIf="f['diaChi']"></div>
                      <div style="color: red">
                        Không được để trống!
                      </div>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="confirmUpdate()">Lưu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
