
<section class="hero-banner">
  <div class="container">
    <div class="row no-gutters align-items-center pt-60px">
      <div class="col-5 d-none d-sm-block">
        <div class="hero-banner__img">
          <img class="img-fluid" src="assets/shopping/img/home/Banner.png" alt="">
        </div>
      </div>
      <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
        <div class="hero-banner__content">
          <h4>MT-SHIRT SHOP</h4>
          <h1>Thời trang nam lịch lãm</h1>
          <p>Tìm kiếm và khám phá các mẫu quần áo nam mới nhất, 
            đặt hàng và thanh toán chỉ với vài cú click chuột máy tính. 
            Điều này giúp bạn tiết kiệm thời gian và công sức mà không 
            cần phải đến cửa hàng trực tiếp.</p>
          <a class="button button-hero" href="#">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>
