<section class="section-margin calc-60px">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Popular Item in the market</p>
      <h2>Hàng <span class="section-intro__style">Mới về</span></h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let sanPham of chiTietSanPham">
        <div class="card text-center card-product">
          <div class="card-product__img">
            <img class="card-img" *ngIf="sanPham.hinhAnh && sanPham.hinhAnh.length > 0" [src]="sanPham.hinhAnh[0].url" alt="Ảnh sản phẩm">
            <ul class="card-product__imgOverlay">
              <li><button><i class="ti ti-search"></i></button></li>
              <li><button><i class="ti ti-shopping-cart"></i></button></li>
              <li><button><i class="ti ti-heart"></i></button></li>
            </ul>
          </div>
          <div class="card-body">
            <p>{{ sanPham.danhMuc.ten }}</p>
            <h4 class="card-product__title"><a href="#">{{ sanPham.ma }}</a></h4>
            <p class="card-product__price">{{ sanPham.giaBan | currency:'VND':'symbol':'1.0-0' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
