<app-sidebar></app-sidebar>
<div class="card justify-content-center col-6 ml-8  ">
  <div class="mb-3">
    <p-button
      type="button"
      icon="pi pi-chevron-left"
      (click)="prev()"
      [disabled]="isFirstPage()"
      styleClass="p-button-text">
    </p-button>
    <p-button
      type="button"
      icon="pi pi-refresh"
      (click)="reset()"
      styleClass="p-button-text">
    </p-button>
    <p-button
      type="button"
      icon="pi pi-chevron-right"
      (click)="next()"
      [disabled]="isLastPage()"
      styleClass="p-button-text">
    </p-button>
  </div>
  <div class="card">
    <p-table
      [value]="danhMucs"
      [paginator]="true"
      [rows]="5"
      [first]="first"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">Mã</th>
          <th style="width:25%">Tên</th>
          <th style="width:25%">Trạng thái</th>
          <th style="width:25%">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-danhMuc>
        <tr>
          <td>{{ danhMuc.ma }}</td>
          <td>{{ danhMuc.ten }}</td>
          <td>
            <p-inputSwitch [(ngModel)]="danhMuc.trangThai" (onChange)="updateStatus(danhMuc)"></p-inputSwitch>
          </td>
          <td>
            <a (click)="findById(danhMuc.id)" style="color: #7A98FE;font-size: 20px;">
              <i class="ti ti-edit"></i>
            </a>
          </td>
          <td>
            <div class="button-group">
              <button type="button" pButton icon="pi pi-pencil" (click)="findById(danhMuc.id)" label="Sửa" styleClass="p-button-warning"></button>
<!--              <button type="button" pButton icon="pi pi-trash" (click)="delete(danhMuc.id)" label="Xóa" styleClass="p-button-danger"></button>-->
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          pRipple
          severity="success"
          label="New"
          icon="pi pi-plus"
          class="mr-2"
          (click)="openNew()" />
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>


  <p-dialog
    [(visible)]="categoryDialog"
    [style]="{ width: '450px' }"
    header="Category Details"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="ma">Mã</label>
        <input
          type="text"
          pInputText
          id="ma"
          formControlName="ma"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && danhMucForm.controls['ma'].invalid">
          Mã is required.
        </small>
      </div>
      <div class="field">
        <label for="ten">Tên</label>
        <input
          type="text"
          pInputText
          id="ten"
          formControlName="ten"
          required />
        <small class="p-error" *ngIf="submitted && danhMucForm.controls['ten'].invalid">
          Tên is required.
        </small>
      </div>
      <div class="field">

      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        pRipple
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (click)="hideDialog()" />
      <p-button
        pRipple
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (click)="saveCategory()" />
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
